#root {
  margin: 0 auto;
  text-align: center;

  margin:0;

  background: linear-gradient(to bottom right, var(--gradient1) 0%,var(--gradient2) 50% ,var(--gradient3)100%);
}

#logo{
  width:3em;
  aspect-ratio: 1;
  margin-left: 2em;
  

  
}

#headerCont{
    position:fixed;

  width:100%;
  height:3rem;
      z-index: 1000;
display: flex;
  justify-content: space-between;
  top:0%;
  left:0%;
    background-color: hsla(141, 22%, 18%, 0.717);
    backdrop-filter: blur(40px);




}
#navCont{
  width:50%;
  padding: 1em;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}


ul{
  display:flex;
  gap:2em;
}

#navCont>nav>ul>li{
    list-style-type:none;
    text-decoration: none;

}


#navsec1{
  width:50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#placeholder{
  display: none;
}

#burger{
  display:none;
}