:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3rem;
  color:var(--text);


  color-scheme: light dark;
 /* color: rgba(255, 255, 255, 0.87);*/
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding:0px;

  /*V A R I A B L E S*/
  --corner:10px;
  --cardPadding:20px;

  --text:black;
  --supress:grey;
  --skillBackground:beige;

  --gradient1:hsl(28.86,35.43%,56.27%);
  --gradient2:hsl(28.86,35.43%,76.27%);
  --gradient3:hsl(28.86,35.43%,100%);
}


body{
  box-sizing: border-box;
  margin:0;
  min-height:100vh;
}

@media (width<1096px){
  #navCont{
  position: fixed;
  top:100%;
  bottom:0%;
  height:82vh;
  width:20%;
  background-color: hsl(141,21.74%,18.04%) !important;
  padding: 1em;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-left: -100%;
  transition: margin-left 0.5s ease;



}
  #navCont.open{
    margin-left: -1%;

  }

  #navul{
    flex-direction: column; /* This stacks the <li> items vertically */
      align-items: center;    /* Keeps them centered */
      padding: 0;
        text-align: left !important;

    gap:2em;
  }

  #navsec1{
    width:100vw !important;
    justify-content: center !important;
  }
  #placeholder{
    display: flex !important;

  }
  #burger{
    position: absolute;
    left: 0%;
    display:flex !important;
    margin-left: 10px;
  }
  #logo{
    margin-left:0 !important;

    
  }
  #heroItemsCont{
    margin-left:0 !important;
    text-align: center;
    font-size:1em;
  }
  #heroh1{
    font-size: 38.4px !important;
    align-self: center !important;
    justify-self: center;
  }
  #heroDesc{
    margin-top: 50px !important;
    justify-self: center;
    color:rgb(188, 188, 188) !important;
  }
  #heroHist{
    font-size: 0.9em;
  }
  #backgroundImg{
    filter: brightness(25%) !important;
  }
  #skillIcons{
    width:100% !important;
  }
  .break{
    display: block !important;
  }
  .s_icon{
    font-size: 20px;
  }
  




  }

