:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3rem;
  color:var(--text);


  color-scheme: light dark;
 /* color: rgba(255, 255, 255, 0.87);*/
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding:0px;

  /*V A R I A B L E S*/

  --text:white;
  --supress:grey;
}

body{
  box-sizing: border-box;
  margin:0;
}

